[submodule "apps/slm-membership"]
	path = apps/slm-membership
	url = https://github.com/southlondonmakerspace/slm-membership.git
[submodule "apps/slm-frontpage"]
	path = apps/slm-frontpage
	url = https://github.com/southlondonmakerspace/slm-frontpage.git
[submodule "apps/slm-persona"]
	path = apps/slm-persona
	url = https://github.com/southlondonmakerspace/slm-persona.git
[submodule "apps/slm-gccallback"]
	path = apps/slm-gccallback
	url = https://github.com/southlondonmakerspace/slm-gccallback.git
[submodule "apps/slm-statement"]
	path = apps/slm-statement
	url = https://github.com/southlondonmakerspace/slm-statement.git
[submodule "apps/slm-members"]
	path = apps/slm-members
	url = https://github.com/southlondonmakerspace/slm-members.git
[submodule "apps/slm-admin"]
	path = apps/slm-admin
	url = https://github.com/southlondonmakerspace/slm-admin.git
[submodule "apps/slm-api"]
	path = apps/slm-api
	url = https://github.com/southlondonmakerspace/slm-api.git
[submodule "apps/slm-account"]
	path = apps/slm-account
	url = https://github.com/southlondonmakerspace/slm-account.git
[submodule "apps/slm-webcams"]
	path = apps/slm-webcams
	url = https://github.com/southlondonmakerspace/slm-webcams.git
