.logo {
  display: block;
  margin-bottom: 10px;
}
.logo img {
  max-width: 350px;
}

@media (min-width: 970px) {
  body {
    padding-top: 1em;
  }
  .row {
    margin-top: 20px;
  }
}

::selection {
  color: #fff;
  background-color: #ed1c24;
}
